!DOCTYPE html5
html(lang="de")
  head
    title [[seed:projectName]]
    include('favicons.jade')
    include('css-debug.jade')
  body
    include('container.jade')
    include('javascript-debug.jade')
